version: "3.8"

services:
  mysql:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}  # this is enough for root
      MYSQL_DATABASE: ${DATABASE_NAME}
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - my-net

  api:
    build:
      context: ./backend
      target: production
    restart: unless-stopped
    env_file: ./backend/.env
    networks:
      - my-net
    depends_on:
      - mysql
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      NODE_ENV: production
    ports:
      - "8000:8000"


  frontend:
    build:
      context: ./frontend
      target: production
      args:
        NEXT_PUBLIC_API_URL: https://api.${DOMAIN_NAME}
    restart: unless-stopped
    networks:
      - my-net
    depends_on:
      - api
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "3000:3000"

  caddy:
    build:
      context: ./caddy
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - my-net
    depends_on:
      - api
      - frontend

volumes:
  mysql_data:
  caddy_data:
  caddy_config:

networks:
  my-net:
    driver: bridge
