name: my-app

services:
  api:
    build:
      context: ./backend
      target: production
    restart: unless-stopped
    env_file: ./backend/.env
    networks:
      - my-net
    depends_on:
      - frontend

  frontend:
    build:
      context: ./frontend
      target: production
      args:
        NEXT_PUBLIC_API_URL: https://api.${DOMAIN_NAME}
    restart: unless-stopped

    networks:
      - my-net

  caddy:
    build:
      context: ./caddy
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - my-net
    depends_on:
      - api
      - frontend

volumes:
  caddy_data:
  caddy_config:

networks:
  my-net:
    driver: bridge
