165.232.76.157 {

# Serve frontend static files
    root * /usr/share/caddy
    file_server

# API requests
    handle_path /api/* {
                           reverse_proxy api:8000
                           header {
                                      Access-Control-Allow-Origin "*"
                                      Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
                                      Access-Control-Allow-Headers "*"
                                  }
                       }

    encode gzip
}
